body {
  margin: 0;
}

.bg-light {
    /*background-color: rgba(248, 249, 250, 0.43)!important;*/
}

#map {
  height: 100vh;
  position: relative;
  width: 100%;
}

.maps-frame {
  height: 100vh;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
  color: #757575;
  display: inline-block;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
  padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
  color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
  text-decoration: none;
}

p.top-desc {
  padding: 1em 1em .1em 1em;
}

p.bottom-desc {
  padding: 0em 1em 1em 1em;
}

#footer{
  padding: 25px;
  max-width: 760px !important;
} 


.radius-left{
      border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    /*border-right: none;*/
}

.radius-right{
  border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /*border-left: none;*/
}

.border-lighter{
  border-color: #e9ecef;
}

.border-lighter:hover {
    border-color: #8fa4b8;
}