body {
  margin: 0;
}



#map {
  height: 100vh;
  position: relative;
  width: 100%;
}

.maps-frame {
  height: 100vh;
  width: 100%;
}
.pac-container{
  z-index: 9999;
}

#footer{
  padding: 25px;
  max-width: 760px !important;
} 


.border-lighter{
  border-color: #e9ecef;
}

.border-lighter:hover {
    border-color: #8fa4b8;
}

.card-body, .card-header{
  position: relative;
}
#adv_btn{
  position: absolute;
    top: 10px;
    display: block;
    right: 11px;
}

#adv_btn a {
  color: white;
    opacity: .3;
}

#settings {
  background-color: #e9ecef;
  border-bottom: solid #cfcfd0 1px;
}

#settings .card-body{
  padding-top: 0;
}

#trip.card{
  border-radius: 0;
  position: absolute;
  top: 10%;
  left: 6%;
  max-width: 300px;
  opacity: 0;
}

#trip.card .col-6{
  padding-top: 10px;
  padding-bottom: 12px;
}

h6{
    text-transform: uppercase;
    font-size: .7rem;
    color: #ababab;
    margin-bottom: 0;
}

#trip.card .card-header{
  border-radius: 0;
  background-color: #212529;
}

#trip.card .card-header h5 {
  color: white;
}

#cars.card {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  right: 10%;
  left: 10%;
  border-radius: 0;
  max-width: 960px;
  /*display: none;*/
  opacity: 0;
}

#cars.card .col-2{
  /* border: solid 1px black; */
  padding-top: 15px;
}

#cars.card .col-2 img{
  width: 100% !important;
  transform: scaleX(-1);
}

.display_block{
  display: block;
}

.custom-select{
  border-radius: 0 !important;
}

.cars-content{
  background-color: #E9ECEF;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 5px;
}

.cars-content .price{
  font-size: 32px;
    font-weight: 500;
    margin-right: 15px;
}

.cars-content .price::before { 
  content: "KSH ";
  font-size: 10px;
  font-weight: 200;
  vertical-align: super;
}